<h2>Submit Your Details</h2>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
  
  <table>
    <tr>
      <td valign="top">
        <label>Name:</label>
      </td>
      <td>
        <input type="text" formControlName="name" placeholder="Enter your name" size="30"/>
      </td>
      <td>
        <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
          <small style="color:red">Name is required.</small>
        </div>
      </td>
    </tr>
    
    
    <tr>
      <td valign="top">
        <label>Email:</label>
      </td>
      <td>
        <input type="email" formControlName="email" placeholder="Enter your email" size="30"/>
      </td>
      <td>
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
          <small style="color:red">A valid email is required.</small>
        </div>
      </td>
    </tr>
    

    <tr>
      <td valign="top">
        <label>Age:</label>
      </td>
      <td>
        <input type="number" formControlName="age" placeholder="Enter your age" size="30"/>
      </td>
      <td>
        <div *ngIf="myForm.get('age')?.invalid && myForm.get('age')?.touched">
          <small style="color:red">Age is required and must be between 1 and 120.</small>
        </div>
      </td>
    </tr>
   
    <tr>
      <td valign="top">
        <label>Gender:</label>
      </td>
      <td>
        <input type="radio" value="male" formControlName="gender" id="male">
        <label for="male">Male</label>
        &nbsp;&nbsp;
        <input type="radio" value="female" formControlName="gender" id="female">
        <label for="female">Female</label>
        &nbsp;&nbsp;
        <input type="radio" value="other" formControlName="gender" id="other">
        <label for="other">Other</label>
      </td>
      <td>
        <div *ngIf="myForm.get('gender')?.invalid && myForm.get('gender')?.touched">
          <small style="color:red">Please select a gender</small>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="myForm.invalid || isLoading">
          {{ isLoading ? 'Submitting...' : 'Submit' }}
        </button>
      </td>
      <td></td>
    </tr>
  </table>
  
</form>


<div *ngIf="successMessage" style="color:green; margin-top:10px;">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" style="color:red; margin-top:10px;">
  {{ errorMessage }}
</div>