<div class="formatters-container">
  
  <div class="formatters-sectionA">
   <div class="counters">
      <div class="counter">
        <span class="counter-label">Word Count:</span>
        <span class="counter-value">{{ wordCount }}</span>
      </div>
      <div class="counter">
        <span class="counter-label">Char &nbsp;Count:</span>
        <span class="counter-value">{{ charCount }}</span>
      </div>
    </div>
    </div>
  
  <div class="formatters-sectionB">
   
    <div class="button-groupA">
       <button class="btn-formatter" (click)="clearAll()">
        Clear All
      </button>
      <button class="btn-formatter" (click)="removeWhiteSpace()">
        Remove White-space
      </button>
      <button class="btn-formatter" (click)="reverseAll()">
        Reverse All
      </button>
      <button class="btn-formatter" (click)="removeSpecialChars()">
        Remove Special Char
      </button>
      <button class="btn-formatter" (click)="capitalizeWord()">
        Capitalize Word
      </button>
      <button class="btn-formatter btn-warning" (click)="removeStyling()">
        Remove Styling
      </button>
    </div>
  

  
    <br>
    <div class="button-groupB">
      <button class="btn-style" (click)="toggleBold()">
        <strong>B</strong>
      </button>
      <button class="btn-style" (click)="toggleItalic()">
        <em>I</em>
      </button>
      <button class="btn-style" (click)="toggleUnderline()">
        <u>U</u>
      </button>
      
      <div class="color-picker">
        <!-- <label for="colorPicker">Color:</label> -->
        <input 
          type="color" 
          id="colorPicker" 
          [value]="selectedColor"
          (change)="changeColor($any($event.target).value)"
          class="color-input"
        >
      </div>
      
      <div class="font-size-controls">
         <button class="btn-size" (click)="increaseFontSize()">+</button>
       
        <!-- <span class="font-size-label">Font Size</span> -->
        <button class="btn-size" (click)="decreaseFontSize()">-</button>
      </div>
    </div>
  </div>


</div>